@font-face {
	font-family: "redhat";
	src: url("/assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900; /* Ejes disponibles: peso de 100 a 900 */
	font-style: normal;
}

:root {
	--red: hsl(14, 86%, 42%);
	--red2: hsl(14, 88%, 29%);
	--green: hsl(159, 69%, 38%);
	--rose50: hsl(20, 50%, 98%);
	--rose100: hsl(13, 31%, 94%);
	--rose300: hsl(14, 25%, 72%);
	--rose400: hsl(7, 20%, 60%);
	--rose500: hsl(12, 20%, 44%);
	--rose900: hsl(14, 65%, 9%);
	font-family: "redhat";
}
@media (max-width: 1366px) {
	body {
		font-size: 14px;
	}
}
body {
	margin: 0;
	background-color: var(--rose100);
}

h1 {
	font-size: 2.75em;
	color: var(--rose900);
	margin-top: 0;
}

main {
	margin: 4em;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	gap: 2.5em;
}

p {
	margin: 0;
	color: black;
}

button,
input,
textarea {
	font-family: inherit;
}

.productGrid {
	display: grid;
	grid-template-columns: repeat(3, 17.5em);
	padding: 0;
	list-style: none;
	row-gap: 2em;
	column-gap: 1.5em;
}

.productItem {
	display: flex;
	flex-direction: column;
	gap: 2.5em;
	position: relative;
}

.productMainBoxData {
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}

.productName {
	font-weight: 600;
}

.productPrice {
	font-weight: 600;
	color: var(--red);
}

.productCategory {
	font-size: 0.85em;
	color: var(--rose500);
}

.productImg {
	height: auto;
	border-radius: 6px;
	width: 100%;
}

.addToCartBtn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 80px;
	background-color: white;
	border: none;
	font-size: 1em;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11em;
	border-radius: 24px;
	height: 3em;
	border: 1px solid var(--rose400);
	gap: 0.35em;
	cursor: pointer;
}

.addToCartBtn:hover:not(.highlight) {
	border-color: var(--red);
	color: var(--red);
}

.highlight {
	background-color: var(--red);
	color: white;
	border: none;
	justify-content: space-between;
	padding: 0 1em;
	cursor: initial;
}

.quantityBtn {
	border: 2px solid white;
	border-radius: 50%;
	padding: 0.2em;
	height: 0.75em;
	width: 0.75em;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
}

.quantityBtn:hover {
	background-color: white;
}

.quantityBtn:hover path {
	fill: var(--red);
}

.quantityText {
	cursor: pointer;
	height: 100%;
	width: 4em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quantityText:hover {
	font-size: 1.25em;
}

.productImgHighlight {
	outline: 3px solid var(--red);
}

.cartBox {
	background-color: white;
	border-radius: 6px;
	min-height: 10em;
	min-width: 10em;
	flex-grow: 1;
	height: fit-content;
	padding: 1.75em 1.5em;
}

.cartBox h2 {
	color: var(--red);
	font-size: 1.6em;
	margin: 0;
}

.cartList {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-top: 1.5em;
}

.itemBox {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 3px solid var(--rose100);
	padding-bottom: 1em;
	margin-bottom: 1em;
}

.itemBoxLeft {
	display: flex;
	flex-direction: column;
	gap: 0.4em;
}

.iteminfo {
	display: flex;
	flex-direction: row;
}

.itemName {
	font-weight: 600;
	color: var(--rose900);
}

.itemQuantity {
	color: var(--red);
	font-weight: 600;
	margin-right: 1.2em;
}

.itemPrice {
	color: var(--rose400);
	font-weight: 600;
	margin-right: 0.5em;
}

.allItemPrice {
	color: var(--rose500);
	font-weight: 600;
}

.removeBtn {
	border: 2px solid var(--rose300);
	border-radius: 50%;
	padding: 0.2em;
	height: 0.75em;
	width: 0.75em;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
	margin: auto 0;
}

.removeBtn:hover {
	border-color: var(--rose900);
}

.removeBtn:hover path {
	fill: var(--rose900);
}

.orderTotal {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 0.5em;
	align-items: center;
}

.orderTotal p:nth-of-type(1) {
	font-weight: 400;
}

.orderTotal p:nth-of-type(2) {
	font-weight: 700;
	font-size: 1.75em;
	color: var(--rose900);
}

.bold {
	font-weight: 600;
}

.carbonNeutral {
	background-color: var(--rose100);
	display: flex;
	flex-direction: row;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
	padding: 1em 0;
	margin-top: 1.5em;
	gap: 0.25em;
}

.confirmOrder {
	background-color: var(--red);
	color: white;
	border: none;
	font-size: 1em;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-radius: 48px;
	padding: 1em 0;
	cursor: pointer;
	margin-top: 1.5em;
}

.confirmOrder:hover {
	background-color: var(--red2);
}

.noItemsOnCartBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2em;
	margin-bottom: 2em;
	color: var(--rose500);
	font-weight: 600;
	font-size: 1.2em;
}

.noItemsOnCartBox img {
	width: 10em;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.confirmationMenu {
	background-color: white;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: left;
	z-index: 1000;
	min-width: 30em;
}

.confirmationMenu h2 {
	margin-bottom: 10px;
	color: var(--rose900);
	font-size: 2em;
	font-weight: 700;
	margin-top: 0.5em;
}

.confirmationMenu h3 {
	font-size: 1em;
	font-weight: 400;
	color: var(--rose500);
	margin-top: 0;
}
.confirmCartList {
	display: flex;
	flex-direction: column;
	background-color: var(--rose100);
	border-radius: 6px;
	padding: 1.5em;
	margin-top: 1.5em;
	gap: 0.25em;
}

.confirmCartList .itemBox {
	align-items: center;
	border-color: rgba(0, 0, 0, 0.1);
	border-width: 2px;
	justify-content: flex-start;
}

.confirmCartList .allItemPrice {
	color: var(--rose900);
	align-items: center;
	margin-left: auto;
}

.confirmCartList img {
	width: 3.5em;
	border-radius: 6px;
	margin-right: 1em;
}
