@font-face {
	font-family: "redhat";
	src: url("/assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900; /* Ejes disponibles: peso de 100 a 900 */
	font-style: normal;
}

:root {
	--red: hsl(14, 86%, 42%);
	--green: hsl(159, 69%, 38%);
	--rose50: hsl(20, 50%, 98%);
	--rose100: hsl(13, 31%, 94%);
	--rose300: hsl(14, 25%, 72%);
	--rose400: hsl(7, 20%, 60%);
	--rose500: hsl(12, 20%, 44%);
	--rose900: hsl(14, 65%, 9%);
	font-family: "redhat";
}

body {
	margin: 0;
}

main {
	margin: 4em;
}

p {
	margin: 0;
	color: black;
}

button,
input,
textarea {
	font-family: inherit;
}

.productGrid {
	display: grid;
	grid-template-columns: repeat(3, 280px);
	padding: 0;
	list-style: none;
	row-gap: 2em;
	column-gap: 1.5em;
}

.productItem {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	position: relative;
}

.productMainBoxData {
	display: flex;
	flex-direction: column;
	gap: 0.1em;
}

.productName {
	font-weight: 600;
}

.productPrice {
	font-weight: 600;
	color: var(--red);
}

.productCategory {
	font-size: 0.85em;
	color: var(--rose500);
}

.productImg {
	height: auto;
	border-radius: 6px;
	width: 100%;
}

.addToCartBtn {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 64px;
	background-color: white;
	border: none;
	font-size: 1em;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 11em;
	border-radius: 24px;
	height: 3em;
	border: 1px solid var(--rose400);
	gap: 0.35em;
	cursor: pointer;
}

.addToCartBtn:hover:not(.highlight) {
	border-color: var(--red);
	color: var(--red);
}

.highlight {
	background-color: var(--red);
	color: white;
	border: none;
	justify-content: space-between;
	padding: 0 1em;
	cursor: initial;
}

.quantityBtn {
	border: 2px solid white;
	border-radius: 50%;
	padding: 0.2em;
	height: 0.75em;
	width: 0.75em;
	justify-content: center;
	align-items: center;
	display: flex;
	cursor: pointer;
}

.quantityBtn:hover {
	background-color: white;
}

.quantityBtn:hover path {
	fill: var(--red);
}

.quantityText {
	cursor: pointer;
	height: 100%;
	width: 4em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.quantityText:hover {
	font-size: 1.25em;
}
